<div style="width:500px; height: 600px; margin: auto; display: flex; justify-content: center; align-items: center; flex-direction: column; border: 2px solid white;">
    <div  style="text-align: center;color: rgb(17, 19, 20);">
    <h1 >Hand Bag</h1>
    </div>
    <div>
        <img src="assets\bag1.jpg" style="width: 150px; margin-left: 180px;">
    <p style="text-align: center; font-size: medium; color: rgb(7, 8, 9);">
        With multifunction pockets in the interior this minimalist laptop bag comes with a cushioned slot detachable strap key holder and wire organizer
    </p>
    </div>
</div>