<div style="width:500px; height: 600px; margin: auto; display: flex; justify-content: center; align-items: center; flex-direction: column; border: 2px solid white;">
    <div  style="text-align: center;color: aliceblue;">
    <h1 >Developer Intern</h1>
    </div>
    <div>
        <img src="assets/girl.jpg" style="width: 150px;margin-left: 70px;">
    <p style="text-align: center; font-size: medium; color: aliceblue;">
        Full name:-Deepali Dhomne
        <br>
        phone number:- 9325322122
        <br>
        Department:-Developement Intern
        <br>
        Start date:- 23/03/2023
        <br>
        Salary:- 3.6LPA
        <br>
        Educational background:- B.E in ENTC (Fresher)
        
    </p>
    </div>
</div>
