

<div style="margin-top: 30px; text-align: center;">
    <h1 style="color: black;  text-decoration-style: solid;font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">Bag Palace</h1>
    <div style="text-align: center ; ">
        <img width="50" alt=" logo" src="assets\logo.jpg">
    </div>
</div>
<style>
    .footer {
        height: 100px;
  padding: 5px;
  color: black;
  text-align: center;
  background: #120f0f;
}
</style>


<div style="margin: auto; display: flex; align-items: center; flex-direction: column; border: 2px solid rgb(209, 161, 161); flex-wrap: wrap;">
<br>
<br>
<br>    
<br>
    <div style="display: flex; gap: 50px; width: 1000px; flex-wrap: wrap; margin: auto; justify-content: center;">
       
        <div style="display: flex; flex-direction: column; justify-content: center; align-items: center;">
            <img class="img1" src="assets\bag1.jpg" style="width: 300px; height: 300px; ">
            <h3>
                Sling bag
            </h3>
            <p> {{Users[0].Ladies_bag}}</p>
            <button (click)="getUser1()" style="border: #b1a2a2; background-color: #120f0f; color: aliceblue;">Read more</button>
        </div>
        <br>
       <div style="display: flex; flex-direction: column; justify-content: center; align-items: center;">
            <img class="img2" src="assets\bag8.jpg"  style="width: 300px; height: 300px; ">
            <h3>
                Sling bag
            </h3>
            <p> {{Users[1].Hand_bag}}</p>
            <button (click)="getUser1()"  style="border: #b1a2a2; background-color: #120f0f;color: aliceblue;">Read more</button>
        </div>
        <br>
        <div style="display: flex; flex-direction: column; justify-content: center; align-items: center;">
            <img class="img3" src="assets\bag4.jpg"  style="width: 300px; height: 300px; ">
            <h3>
                Sling bag
            </h3>
            <p> {{Users[2].Sling_bag}}</p>
            <button (click)="getUser1()" style="border: #b1a2a2; background-color: #120f0f;color: aliceblue;">Read more</button>
        </div>
        <br>
        <div style="display: flex; flex-direction: column; justify-content: center; align-items: center;">
            <img class="img3" src="assets\bag5.jpg"  style="width: 300px; height: 300px; ">
            <h3>
                Wallet bag
            </h3>
            <p> {{Users[2].Sling_bag}}</p>
            <button (click)="getUser1()" style="border: #b1a2a2; background-color: #120f0f; color: aliceblue;">Read more</button>
        </div>
        <br>
        <div style="display: flex; flex-direction: column; justify-content: center; align-items: center;">
            <img class="img3" src="assets\bag6.jpg"  style="width: 300px; height: 300px; ">
            <h3>
                Side bag
            </h3>
            <p> {{Users[2].Sling_bag}}</p>
            <button (click)="getUser1()"  style="border: #121010; background-color: #120f0f;color: aliceblue;">Read more</button>
        </div>
        <br>
        <div style="display: flex; flex-direction: column; justify-content: center; align-items: center;">
            <img class="img3" src="assets\bag7.jpg"  style="width: 300px; height: 300px; ">
            <h3>
                Hand bag
            </h3>
            <p> {{Users[2].Sling_bag}}</p>
            <button (click)="getUser1()"  style="border: #b1a2a2; background-color: #120f0f;color: aliceblue;">Read more</button>
        </div>     
    </div>
    <br>
    <br>
</div>
<div class="footer">
    <br><br>
    <h2 style="color: aliceblue;">Contact us</h2>
    <p style="color: aliceblue;background-color: #121010;">bagpalace.com <br> 9325322122</p>
   
  </div> 

