<div style="width:500px; height: 600px; margin: auto; display: flex; justify-content: center; align-items: center; flex-direction: column; border: 2px solid white;">
    <div  style="text-align: center;color: aliceblue;">
    <h2>THOMAS VAN</h2>
    </div>
    <div>
        <img src="assets\Stylish-Boys-DP.jpeg" style="width: 150px;margin-left: 170px;color: aliceblue;">
    <p style="text-align: center;font-size: medium; color: aliceblue;">
        
        I’ve learnt a lot from really good software engineers.Our workplace culture promotes learning and knowledge sharing. It takes place not only during presentations but also on Slack and at a coffee break. 
    We attach great importance to code review. That’s the moment when you can learn the most from other developers while working on the project.
    There is an engineer who explained many concepts and procedures to me — Krystian. His technical skills are remarkable, and he’s always eager to share his knowledge. We’ve been cooperating since the very beginning of my Evojam journey, and he helped me adopt best practices
    </p>
    </div>
</div>