.decor
{
    width: 600px;
    border: 2px solid;
    background-color: rgb(218, 210, 210);
    position: absolute;
    text-align: center;
}
.button
{   
    
    height: 50px;
    width: 150px;
    margin-top: 200px;
    margin-left: 300px;
    color: black;
    background-color: rgb(232, 128, 128);
    border-radius: 5%;
    display: flex;
}