<div style="text-align: center;">
  <style>
     
     

  .footer {
padding: 10px;
color: black;
text-align: center;
background: #ddd;
}
button{
  margin: auto;
}
  .btn{
    margin-right: 20px;
  }
  </style>
  <br>
  <br>
  <br>

<div style="text-align: center; width: 300px; height: 300px;margin-left: 100px;">
  
  <div class="button">
<button (click)="Getperson1()" class="btn btn-info">Employee1</button><br>
<button (click)="Getperson2()" class="btn btn-success">employee2</button><br>
<button (click)="Getperson3()" class="btn btn-primary">Employee3</button><br>
</div>
</div>
<router-outlet></router-outlet>